<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='styles/home.css' />
    <title>FIAP Movies - Web</title>
</head>

<body>
    <%- include('templates/header') %> 
    <main>
        <div class="background">
            <h2>
                Encontre rapidamente o que assistir
            </h2>
        </div>
        <div class="section-1">
            <h3>Filmes em alta </h3>
            <div class="movies">
                <% for (let i = 0; i < 5; i++) { %> 
                <div class="card">
                    <div class="card-content">
                        <figure>
                            <img src="https://image.tmdb.org/t/p/w500/<%= movies.results[i].poster_path %>" alt="Imagem da capa do filme '<%= movies.results[i].title %>'" srcset="" title="Imagem da capa do filme '<%= movies.results[i].title %>'">
                            <figcaption> <%= movies.results[i].title %>  </figcaption>
                        </figure>
                        <p> <%= movies.results[i].vote_average %> </p>
                        <button>
                            <a href="/movie/<%=movies.results[i].id%>">Detalhes</a>
                        </button>
                    </div>
                </div>
                <%  } %> 
            </div>
        </div>
        <div class="section-2">
            <h3>Séries em alta</h3>
            <div class="series">
                <% for (let i = 0; i < 5; i++) { %> 
                    <div class="card">
                        <div class="card-content">
                            <figure>
                                <img src="https://image.tmdb.org/t/p/w500/<%= series.results[i].poster_path %>" alt="Imagem da capa da série '<%= series.results[i].name %>'" srcset="" title="Imagem da capa da série '<%= series.results[i].name %>'">
                                <figcaption> <%= series.results[i].name %>  </figcaption>
                            </figure>
                            <p> <%= series.results[i].vote_average %> </p>
                            <button>
                                <a href="/serie/<%=series.results[i].id%>">Detalhes</a>
                            </button>
                        </div>
                    </div>
                    <%  } %> 
            </div>
        </div>
    </main>
    <%- include('templates/footer') %> 
</body>
</html>